@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,800&display=swap');

* {
    background-color: paleturquoise;
    font-family: sans-serif;
}

h1,
h2 {
    font-family: 'Work Sans';
    font-weight: 800;
    font-style: italic;
}


h1 {
    background-color: #ffff00;
    text-align: center;
}

a {
    color: #ff69b4;
    font-weight: bold;
}

strong {
    color: #ff7f50;
}

.emoji {
    font-size: 30px;
    font-weight: bold;
}

.intro {
    text-align: center;
}